:root {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: aquamarine;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.newBook {
    font-weight: 700;
} 

.cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 50px;
}

div.cards > * {
    border: solid orange 5px;
    padding: 20px;
    font-size: 2rem;
}